@import "variableGlobal";
@import "fuentes";
@import "generales";
@import "imagenes";

@mixin margin ($margin-top,$margin-bottom){
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
}

@mixin padding ($padding-top,$padding-bottom){
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav{
    @include margin(20px, -50px);
}

ul{
    list-style: none;
}

footer{
    @include margin(50px, 0px);
    text-decoration: none;
    list-style: none;
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
}

.iconos, .navFooter{
    justify-content: space-around;
    @include padding(50px, 50px);
}

input{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea{
    @extend input;
    min-height: 100px;
    max-height: 200px;
}

.infoProducto{
    display: flex;
    flex-direction: column;

    p{
        margin-top: 20px;
    }

    button{
        margin: 20px;
        border-radius: 50px;
        height: 25px;
    }

}

h2{
    margin-top: 100px;
    font-size: xx-large;
    letter-spacing: 5px;
}

.contacto{
    @extend a;
    justify-content: space-around;
    @include padding(50px, 50px)
}

.formulario{
    margin-top: 100px;
}

.carousel-inner{
    margin-top: 50px;
}


@media(min-width: 768px){

nav{
    @include margin(75px, 30px);

    li{
    display: inline;
    margin: 30px;

    a{
        font-size: x-large;
    }

}
}

a{
    font-size: large;
}

}

@media(min-width: 1024px){

footer{
    display: flex;
    justify-content: space-around;
}

.infoProducto{
    button:hover{
    cursor: pointer;
    background-color: gray;
}
}

.facebook:hover{
    transform: scale(1.5);
}

.instagram, .twitter{
    @extend .facebook;
}

}