@import "variableGlobal";
@import "fuentes";
@import "generales";
@import "imagenes";


a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav{
    margin-bottom: 50px;
    margin-top: 20px;
}

ul{
    list-style: none;
}


footer{
    text-decoration: none;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 100px;
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
}

.iconos, .navFooter{
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner{
    width: 100%;
    height: auto;
}

.bannerPie{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

input{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea{
    @extend input;
    min-height: 100px;
    max-height: 200px;
}

.infoProducto{
    display: flex;
    flex-direction: column;

    p{
        margin-top: 20px;
    }

    button{
        margin: 20px;
    }

}


h2{
    margin-top: 100px;
    font-size: xx-large;
    letter-spacing: 5px;
}

.contacto{
    @extend a;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media(min-width: 768px){

a, .contacto{
    font-size: x-large;
}

}


@media(min-width: 1024px){

nav ul li{
    display: inline;
    margin: 30px;
}

form{
    width: 100%;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-around;
}

}